.movie-card {
  h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:hover h3,
  h3:hover {
    color: var(--main-color);
  }
}
.movie-card__poster {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160%;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;

  overflow: hidden;

  &:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 200%;
    background-color: red;
    // z-index: 10;
    display: none;
  }

  &:hover::before {
    display: block;
    animation: spinner linear 2s infinite;
  }

  @keyframes spinner {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
  & .overlay {
    content: "";
    cursor: pointer;
    border-radius: var(--border-radius);
    opacity: 0;
    transition: opacity ease 0.2s;
    margin: 3px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--border-radius);
    // margin-bottom: 1.3rem;
    padding: 4px;
  }

  .btn-trailer {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    font-size: 2.8rem;
    padding: 0.2rem 2rem;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover .overlay,
  &:hover .btn-trailer {
    // display: block;
    opacity: 1;
  }

  &:hover .btn-trailer {
    // display: block;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media only screen and (max-width: 1024px) {
  .movie-card__poster {
    .btn-trailer {
      font-size: 5rem;
      padding: 0 3rem;
    }
  }
}
