.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__movie-list {
  .swiper-slide {
    width: 15%;

    @media only screen and (max-width: 1024px) {
      width: 30%;
    }

    @media only screen and (max-width: 600px) {
      width: 40%;
    }
  }
}
