.btn-to-top {
  position: fixed;
  bottom: 100px;
  right: 20px;
  cursor: pointer;
  background-color: var(--body-bg);
  border-radius: var(--border-radius);
  opacity: 0;
  transition: all linear 0.3s;
  z-index: -1;
}
.btn-to-top.show {
  opacity: 1;
  z-index: 2;
}
