.movie-grid {
  //   width: 90%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 4.8rem;
}

@media only screen and (max-width: 1024px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

// @media only screen and (max-width: 1200px) {
//   .movie-grid {
//     grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
//   }
// }

// @media only screen and (max-width: 600px) {
//   .movie-grid {
//     grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
//   }
// }
