.banner {
  // height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20rem 0 15rem;
  margin-bottom: 3.2rem;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));
  }
}

.movie-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 2.6rem;
}

.movie-content__poster {
  // flex: 1;
  .movie-content__poster__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    padding-top: 165%;
    // position: relative;
  }
}

// .movie-content__info {
//   width: 70%;
//   padding-left: 3.2rem;
// }

// .casts {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
//   grid-gap: 10px;
//   gap: 10px;
// }
.movie-content__info > * {
  margin-bottom: 3.2rem;
}

.title {
  font-size: 6.4rem;
  line-height: 1;
}

.genres > * ~ * {
  margin-left: 0.8rem;
}

.genres-btn {
  // font-weight: 600;
  background-color: #0f0f0f;
}
