.search {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  position: relative;

  input {
    width: 100%;
    padding: 0.8rem 2.88rem;
    padding-right: 12.8rem;
    background-color: #000;
    border: 0;
    border-radius: 30px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
  }

  .btn-search {
    position: absolute;
    right: 0;
  }

  @media only screen and (max-width: 600px) {
    input {
      font-size: 2rem;
    }
  }
}
